.hidden {
    display: none;
}

* {
    font-family: Arial;
    text-decoration: none;
    font-size: 20px;
}

.container {
    padding-top: 50px;
    margin: 20 auto;
    width: 100%;
    text-align: center;
}

* {
    font-family: 'Roboto', Arial, sans-serif;
    color: white;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #1a1a1a;
    margin: 0;
    text-align: center;
}

router-outlet+* {
    padding: 0 16px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 20px;
}

h1,
h2 {
    font-weight: lighter;
}

p {
    font-size: 14px;
}

a {
    cursor: pointer;
    color: #1976d2;
    text-decoration: none;
}

a:hover {
    opacity: 0.8;
}

input {
    font-size: 14px;
    border-radius: 2px;
    margin-bottom: 16px;
    border: 1px solid #BDBDBD;
}

label {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}

.button,
button {
    margin: 2px;
    align-items: center;
    padding: 8px 20px;
    border-radius: 2px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
}

.button:hover,
button:hover {
    opacity: 0.8;
    font-weight: normal;
}

.button:disabled,
button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.fancy-button {
    background-color: white;
    color: #1976d2;
}

.fancy-button i.material-icons {
    color: #1976d2;
    padding-right: 4px;
}

app-top-bar {
    width: 100%;
    height: 68px;
    background-color: #1976d2;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

app-top-bar h1 {
    color: white;
    margin: 0;
}

.cart-item,
.shipping-item {
    width: 100%;
    min-width: 400px;
    max-width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 32px;
    margin-bottom: 8px;
    border-radius: 2px;
    background-color: #EEEEEE;
}

.infoJoueur {
    float: right;
    margin-top: 10px;
    margin-right: 10px;
    border-style: solid;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    font-size: 80px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    grid-gap: 3px;
}

.centerPage {
    display: grid;
    grid-template-columns: repeat(10, auto);
}

.num8 {
    grid-row: 1 / 2;
}

.num7 {
    grid-row: 2 / 3;
}

.num6 {
    grid-row: 3 / 4;
}

.num5 {
    grid-row: 4 / 5;
}

.num4 {
    grid-row: 5 / 6;
}

.num3 {
    grid-row: 6 / 7;
}

.num2 {
    grid-row: 7 / 8;
}

.num1 {
    grid-row: 8 / 9;
}

.letA {
    grid-column: 1 / 2;
}

.letB {
    grid-column: 2 / 3;
}

.letC {
    grid-column: 3 / 4;
}

.letD {
    grid-column: 4 / 5;
}

.letE {
    grid-column: 5 / 6;
}

.letF {
    grid-column: 6 / 7;
}

.letG {
    grid-column: 7 / 8;
}

.letH {
    grid-column: 8 / 9;
}

.start {
    grid-column-start: 6;
}

.black {
    background-color: #808080;
    color: black;
    text-shadow: -1px 1px 0 #fff, 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff;
}

.white {
    background-color: white;
    color: black;
}

.active {
    background-color: green;
}

.turn {
    border: 10px solid rgb(192, 191, 191);
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    width: 100px;
    height: 100px;
    text-align: center;
    position: absolute;
    right: 0;
    clear: both;
}

.turn:black {
    background-color: black;
}

.blackTurn {
    background-color: black;
}

.msgBox {
    width: 200px;
    height: auto;
    float: right;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    background-color: red;
    color: white;
    border: solid;
    border-radius: 5%;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.victory {
    position: absolute;
    right: 0;
}

.columnPieces {
    background-color: grey;
    position: absolute;
    left: 0;
    width: 20%;
    height: 80%;
}